In [1]:
import pandas as pd
import io
import requests
import os
from collections import Counter
import json

In [27]:
df = pd.read_excel("financial_statements/17Q2-15Q3/BalanceSheet_ANV_24.xlsx", engine="openpyxl")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data Title,BALANCE SHEEET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date Of Extract,2023-09-16 22:01:06.580000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Reset and drop Indexes
df = df.iloc[6:]
df = df.iloc[:-3]   #Drop the "powered by fiintrade"
df = df.reset_index(drop=True)
# Tranpose and reset the index again
df = df.transpose().reset_index(drop=True)
# Set the first row as headers
new_headers = df.iloc[0]
df = df[1:]
df.columns = new_headers
df = df.rename(columns={"ITEMS": "Quarter"})

# df = df.astype(str)
df.columns = df.columns.astype(str)

In [29]:
df.head()

,Quarter,TOTAL ASSETS,CURRENT ASSETS,Cash and cash equivalents,Cash,Cash equivalents,Short-term investments,Short-term investments,Provision for diminution,Held-to-maturity securities,...,Undistributed earnings,Beginning accumulated undistributed earnings,Current period undistributed earnings,Minority interests,Budget sources and other funds,Bonus and welfare funds (Before 2010),Budget sources and other funds,Funds used for fixed asset acquisitions,Minority Interest,TOTAL RESOURCES
1,Q1 2015,3272450781786,1757470205859,5875712011,5875712011,0,0,0,0,0,...,122565196878,0,122565196878,0,0,0,0,0,435328776,3272450781786
2,Q2 2015,3388617930256,1832805204414,17028384797,8098584797,8929800000,0,0,0,0,...,20450301117,1201789509,19248511608,467418359,0,0,0,0,0,3388617930256
3,Q3 2015,3330740724470,1803539038114,8744636996,8744636996,0,0,0,0,0,...,30172728873,1201789509,28970939364,472375005,0,0,0,0,0,3330740724470
4,Q4 2015,3276958780565,1817878538503,12707313325,12707313325,0,0,0,0,0,...,24882152794,11201789509,13680363285,477904963,0,0,0,0,0,3276958780565
5,Q1 2016,3242901585720,1795865953809,23405694166,23405694166,0,0,0,0,0,...,27013396626,21519354339,5494042287,476582453,0,0,0,0,0,3242901585720

**CHECK COMMON FIELDS**

In [13]:
# Specify the directory where the Excel files are located
directory = 'financial_statements/17Q2-15Q3'

# Specify the prefix of the files
prefix = 'IncomeStatement'

# Get a list of all Excel files in the directory with the specified prefix
files = [f for f in os.listdir(directory) if f.startswith(prefix) and (f.endswith('.xlsx') or f.endswith('.xls'))]

# Initialize a Counter to store field counts
field_counts = Counter()

# Read each file, update field counts, and transform it
for i, file in enumerate(files):
    try:
        df = pd.read_excel(os.path.join(directory, file))
        
        # Transformation step: normalize all string columns to lower case
        # Reset and drop Indexes
        df = df.iloc[6:]
        df = df.iloc[:-3]   #Drop the "powered by fiintrade"
        df = df.reset_index(drop=True)
        # Tranpose and reset the index again
        df = df.transpose().reset_index(drop=True)
        # Set the first row as headers
        new_headers = df.iloc[0]
        df = df[1:]
        df.columns = new_headers
        df = df.rename(columns={"ITEMS": "Quarter"})

        # df = df.astype(str)
        df.columns = df.columns.astype(str)
        
        # Update field counts
        field_counts.update(df.columns.tolist())
    except Exception:
        pass  # If an error occurs, ignore it and continue with the next file

# Find the most common fields
most_common_fields = field_counts.most_common()

# Convert the results to a JSON string
json_str = json.dumps(most_common_fields, indent=2)

# Write the JSON string to a file
with open(f'{prefix}_most_common_fields.json', 'w') as f:
    f.write(json_str)

**15-17 Balance Sheet**

***ADD ONE MORE COLUMN: TICKER***

In [19]:
# Transformation:
import pandas as pd
import os

# Specify the directory where the Excel files are located
directory = 'financial_statements/15Q3-17Q2'

# Specify the prefix of the files
prefix = 'BalanceSheet'

# Get a list of all Excel files in the directory with the specified prefix
files = [f for f in os.listdir(directory) if f.startswith(prefix) and (f.endswith('.xlsx') or f.endswith('.xls'))]

# create an empty DataFrame to store the data
all_data = pd.DataFrame()

# A list to count errors:
errors = []

for filename in files:
    if filename.endswith(".xlsx") or filename.endswith(".xls"):
        try:
            df = pd.read_excel(os.path.join(directory, filename))
            
            # Reset and drop Indexes
            df = df.iloc[6:]
            df = df.iloc[:-3]   #Drop the "powered by fiintrade"
            df = df.reset_index(drop=True)
            # Tranpose and reset the index again
            df = df.transpose().reset_index(drop=True)
            # Set the first row as headers
            new_headers = df.iloc[0]
            df = df[1:]
            df.columns = new_headers
            df = df.rename(columns={"ITEMS": "Quarter"})       
            
            all_data = pd.concat([all_data, df])
        except Exception as e:
            errors.append(e)
            print("Error: ", e)
            print("The number of errors:", len(errors))

print(all_data)

Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 1
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 2
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 3
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 4
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 5
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 6
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 7
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 8
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 9
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 10
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 11
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 12
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 13
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 14
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 15
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 16
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 17
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 18
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 19
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 20
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 21
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 22
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 23
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 24
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 25
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 26
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 27
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 28
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 29
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 30
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 31
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 32
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 33
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 34
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 35
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 36
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 37
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 38
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 39
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 40
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 41
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 42
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 43
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 44
Error:  Reindexing only valid with uniquely valued Index objects
The number of errors: 45
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 46
0   Quarter    TOTAL ASSETS  CURRENT ASSETS Cash and cash equivalents  \
1   Q1 2015   3272450781786   1757470205859                5875712011
2   Q2 2015   3388617930256   1832805204414               17028384797
3   Q3 2015   3330740724470   1803539038114                8744636996
4   Q4 2015   3276958780565   1817878538503               12707313325
5   Q1 2016   3242901585720   1795865953809               23405694166
..      ...             ...             ...                       ...
6   Q2 2016  14714776549144  13145303327954              516989158086
7   Q3 2016  14678698809121  13115423148548              643425697274
8   Q4 2016  14657547513224  13053537769771              295085197835
9   Q1 2017  14512340002782  12801139766655              186190687739
10  Q2 2017  14365362301490  12809906487618              255574669289

0           Cash Cash equivalents Short-term investments  \
1     5875712011                0                      0
2     8098584797       8929800000                      0
3     8744636996                0                      0
4    12707313325                0                      0
5    23405694166                0                      0
..           ...              ...                    ...
6   265792969242     251196188844             1332361100
7   336168593767     307257103507             1291778090
8   120595628388     174489569447             1235586230
9   111475902303      74714785436             1248073310
10  204500198432      51074470857             1207490300

0  Short-term investments Provision for diminution  \
1                       0                        0
2                       0                        0
3                       0                        0
4                       0                        0
5                       0                        0
..                    ...                      ...
6              7490461369              -6158100269
7              7490461369              -6198683279
8              7490461369              -6254875139
9              7490461369              -6242388059
10             7490461369              -6282971069

0  Held-to-maturity securities  ... Undistributed earnings  \
1                            0  ...           122565196878
2                            0  ...            20450301117
3                            0  ...            30172728873
4                            0  ...            24882152794
5                            0  ...            27013396626
..                         ...  ...                    ...
6                            0  ...          2173718146893
7                            0  ...          2301615832189
8                            0  ...          2320197333764
9                            0  ...          2495936514849
10                           0  ...          2787232713398

0  Beginning accumulated undistributed earnings  \
1                                             0
2                                    1201789509
3                                    1201789509
4                                   11201789509
5                                   21519354339
..                                          ...
6                                 1781536119480
7                                 1781536119480
8                                 1781536119480
9                                 2318834981859
10                                2373576603822

0  Current period undistributed earnings Minority interests  \
1                           122565196878                  0
2                            19248511608          467418359
3                            28970939364          472375005
4                            13680363285          477904963
5                             5494042287          476582453
..                                   ...                ...
6                           392182027413       898307185875
7                           520079712709       978215150994
8                           538661214284       917945858024
9                           177101532990       921821298040
10                          413656109576       733373407267

0  Budget sources and other funds Bonus and welfare funds (Before 2010)  \
1                               0                                     0
2                               0                                     0
3                               0                                     0
4                               0                                     0
5                               0                                     0
..                            ...                                   ...
6                               0                                     0
7                               0                                     0
8                               0                                     0
9                               0                                     0
10                              0                                     0

0  Budget sources and other funds Funds used for fixed asset acquisitions  \
1                               0                                       0
2                               0                                       0
3                               0                                       0
4                               0                                       0
5                               0                                       0
..                            ...                                     ...
6                               0                                       0
7                               0                                       0
8                               0                                       0
9                               0                                       0
10                              0                                       0

0  Minority Interest TOTAL RESOURCES
1          435328776   3272450781786
2                  0   3388617930256
3                  0   3330740724470
4                  0   3276958780565
5                  0   3242901585720
..               ...             ...
6                  0  14714776549144
7                  0  14678698809121
8                  0  14657547513224
9                  0  14512340002782
10                 0  14365362301490

[539 rows x 121 columns]

In [5]:
all_data.head(10)

,Quarter,TOTAL ASSETS,CURRENT ASSETS,Cash and cash equivalents,Cash,Cash equivalents,Short-term investments,Short-term investments,Provision for diminution,Held-to-maturity securities,...,Undistributed earnings,Beginning accumulated undistributed earnings,Current period undistributed earnings,Minority interests,Budget sources and other funds,Bonus and welfare funds (Before 2010),Budget sources and other funds,Funds used for fixed asset acquisitions,Minority Interest,TOTAL RESOURCES
1,Q1 2015,3272450781786,1757470205859,5875712011,5875712011,0,0,0,0,0,...,122565196878,0,122565196878,0,0,0,0,0,435328776,3272450781786
2,Q2 2015,3388617930256,1832805204414,17028384797,8098584797,8929800000,0,0,0,0,...,20450301117,1201789509,19248511608,467418359,0,0,0,0,0,3388617930256
3,Q3 2015,3330740724470,1803539038114,8744636996,8744636996,0,0,0,0,0,...,30172728873,1201789509,28970939364,472375005,0,0,0,0,0,3330740724470
4,Q4 2015,3276958780565,1817878538503,12707313325,12707313325,0,0,0,0,0,...,24882152794,11201789509,13680363285,477904963,0,0,0,0,0,3276958780565
5,Q1 2016,3242901585720,1795865953809,23405694166,23405694166,0,0,0,0,0,...,27013396626,21519354339,5494042287,476582453,0,0,0,0,0,3242901585720
6,Q2 2016,3167990474037,1903384929558,34431886926,34431886926,0,0,0,0,0,...,-85424863871,21549562556,-106974426427,-4249078215,0,0,0,0,0,3167990474037
7,Q3 2016,2994673561966,1730003763854,9251644869,9251644869,0,0,0,0,0,...,38350705316,21549562556,16801142760,-5440065771,0,0,0,0,0,2994673561966
8,Q4 2016,3017406024326,1914883347314,21796050462,17026050462,4770000000,900000000,0,0,900000000,...,70219761331,21549562556,48670198775,-5532296095,0,0,0,0,0,3017406024326
9,Q1 2017,2820024857039,1719137422413,27463495897,27463495897,0,900000000,0,0,900000000,...,94881231692,69992175173,24889056519,-5582440953,0,0,0,0,0,2820024857039
10,Q2 2017,2695051431837,1608811312894,21963750714,21963750714,0,0,0,0,0,...,63468466099,10947450173,52521015926,-4585218615,0,0,0,0,0,2695051431837

In [22]:
from sqlalchemy import create_engine


engine = create_engine(f"postgresql://postgres:postgres@localhost/stock_prediction")

df.to_sql('stock_prediction', engine, if_exists='replace', index=False)

DuplicateColumnError: A column with name 'Short-term investments' is already present in table 'stock_prediction'.

**17-19 Balance Sheet**

In [12]:
# Transformation:
import pandas as pd
import os

# Specify the directory where the Excel files are located
directory = 'financial_statements/17Q3-19Q2'

# Specify the prefix of the files
prefix = 'BalanceSheet'

# Get a list of all Excel files in the directory with the specified prefix
files = [f for f in os.listdir(directory) if f.startswith(prefix) and (f.endswith('.xlsx') or f.endswith('.xls'))]

# create an empty DataFrame to store the data
all_data = pd.DataFrame()

# A list to count errors:
errors = []

for filename in files:
    if filename.endswith(".xlsx") or filename.endswith(".xls"):
        try:
            df = pd.read_excel(os.path.join(directory, filename))
            
            # Reset and drop Indexes
            df = df.iloc[6:]
            df = df.iloc[:-3]   #Drop the "powered by fiintrade"
            df = df.reset_index(drop=True)
            # Tranpose and reset the index again
            df = df.transpose().reset_index(drop=True)
            # Set the first row as headers
            new_headers = df.iloc[0]
            df = df[1:]
            df.columns = new_headers
            df = df.rename(columns={"ITEMS": "Quarter"})       
            
            all_data_2 = pd.concat([all_data, df])
        except Exception as e:
            errors.append(e)
            print("Error: ", e)
            print("The number of errors:", len(errors))

print(all_data_2)

Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 1
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 2
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 3
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 4
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 5
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 6
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 7
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 8
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 9
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 10
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 11
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 12
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 13
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 14
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 15
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 16
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 17
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 18
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 19
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 20
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 21
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 22
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 23
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 24
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 25
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 26
0   Quarter     TOTAL ASSETS Cash and precious metals Balances with the SBV  \
1   Q1 2017  250066008000000            1731185000000         7060582000000
2   Q2 2017  276244750000000            1937989000000         3544632000000
3   Q3 2017  291942720000000            2052251000000         7411959000000
4   Q4 2017  313877828000000            1842032000000         6683682000000
5   Q1 2018  316345493000000            2048473000000         4826686000000
6   Q2 2018  333203019000000            1946454000000         6866616000000
7   Q3 2018  343850297000000            1919151000000         8988483000000
8   Q4 2018  362361094000000            1736571000000        10548084000000
9   Q1 2019  383219255000000            2089571000000         7596756000000
10  Q2 2019  402264372000000            2321206000000         3426842000000

0  Placements & loan to credit institutions Trading securities, net  \
1                            21418978000000            685908000000
2                            27860139000000            743835000000
3                            36696708000000            706974000000
4                            53497402000000           2804525000000
5                            37657981000000           3410710000000
6                            48793974000000           3512707000000
7                            44647498000000            904977000000
8                            45061628000000            577672000000
9                            43249072000000            675338000000
10                           52651532000000           1182392000000

0  Trading securities  \
1        829719000000
2        820240000000
3        728399000000
4       2839964000000
5       3461998000000
6       3604722000000
7        953306000000
8        684035000000
9        753785000000
10      1259960000000

0  Less: Provision for diminution in value of trading securities  \
1                                       -143811000000
2                                        -76405000000
3                                        -21425000000
4                                        -35439000000
5                                        -51288000000
6                                        -92015000000
7                                        -48329000000
8                                       -106363000000
9                                        -78447000000
10                                       -77568000000

0  Derivatives and other financial assets  \
1                             18169000000
2                             33376000000
3                             78135000000
4                            121592000000
5                            146897000000
6                                       0
7                                       0
8                             36032000000
9                              1154000000
10                                      0

0  Loans and advances to customers, net  ... Fund for basic construction  \
1                       149349878000000  ...                           0
2                       170396706000000  ...                           0
3                       174206750000000  ...                           0
4                       182062458000000  ...                           0
5                       191261862000000  ...                           0
6                       202027423000000  ...                           0
7                       201474976000000  ...                           0
8                       211474953000000  ...                           0
9                       226050558000000  ...                           0
10                      235995611000000  ...                           0

0  Share premium Treasury shares Preferred shares Other capitals  \
1   828197000000               0                0              0
2   828197000000               0                0              0
3   828197000000               0                0              0
4   828197000000               0                0              0
5   828197000000               0                0              0
6   828197000000               0                0              0
7              0               0                0              0
8              0               0                0    27834000000
9              0  -1036712000000                0    27834000000
10             0  -1036712000000                0    27834000000

0        Reserves Foreign currency difference reserve  \
1   2670812000000                                   0
2   3329087000000                                   0
3   3312011000000                                   0
4   3209154000000                                   0
5   4162854000000                                   0
6   4086992000000                                   0
7   4046701000000                                   0
8   3887135000000                                   0
9   4977279000000                                   0
10  5048304000000                                   0

0  Difference upon assets revaluation Retained Earnings Minority interest
1                                   0     4435016000000                 0
2                                   0     4762508000000                 0
3                                   0     5916022000000                 0
4                                   0     5977328000000                 0
5                                   0     6311447000000                 0
6                                   0     6671807000000                 0
7                                   0     5792385000000                 0
8                                   0     7123671000000                 0
9                                   0     8956319000000                 0
10                                  0     8078631000000                 0

[10 rows x 49 columns]

In [13]:
all_data_2.head(10)

,Quarter,TOTAL ASSETS,Cash and precious metals,Balances with the SBV,Placements & loan to credit institutions,"Trading securities, net",Trading securities,Less: Provision for diminution in value of trading securities,Derivatives and other financial assets,"Loans and advances to customers, net",...,Fund for basic construction,Share premium,Treasury shares,Preferred shares,Other capitals,Reserves,Foreign currency difference reserve,Difference upon assets revaluation,Retained Earnings,Minority interest
1,Q1 2017,250066008000000,1731185000000,7060582000000,21418978000000,685908000000,829719000000,-143811000000,18169000000,149349878000000,...,0,828197000000,0,0,0,2670812000000,0,0,4435016000000,0
2,Q2 2017,276244750000000,1937989000000,3544632000000,27860139000000,743835000000,820240000000,-76405000000,33376000000,170396706000000,...,0,828197000000,0,0,0,3329087000000,0,0,4762508000000,0
3,Q3 2017,291942720000000,2052251000000,7411959000000,36696708000000,706974000000,728399000000,-21425000000,78135000000,174206750000000,...,0,828197000000,0,0,0,3312011000000,0,0,5916022000000,0
4,Q4 2017,313877828000000,1842032000000,6683682000000,53497402000000,2804525000000,2839964000000,-35439000000,121592000000,182062458000000,...,0,828197000000,0,0,0,3209154000000,0,0,5977328000000,0
5,Q1 2018,316345493000000,2048473000000,4826686000000,37657981000000,3410710000000,3461998000000,-51288000000,146897000000,191261862000000,...,0,828197000000,0,0,0,4162854000000,0,0,6311447000000,0
6,Q2 2018,333203019000000,1946454000000,6866616000000,48793974000000,3512707000000,3604722000000,-92015000000,0,202027423000000,...,0,828197000000,0,0,0,4086992000000,0,0,6671807000000,0
7,Q3 2018,343850297000000,1919151000000,8988483000000,44647498000000,904977000000,953306000000,-48329000000,0,201474976000000,...,0,0,0,0,0,4046701000000,0,0,5792385000000,0
8,Q4 2018,362361094000000,1736571000000,10548084000000,45061628000000,577672000000,684035000000,-106363000000,36032000000,211474953000000,...,0,0,0,0,27834000000,3887135000000,0,0,7123671000000,0
9,Q1 2019,383219255000000,2089571000000,7596756000000,43249072000000,675338000000,753785000000,-78447000000,1154000000,226050558000000,...,0,0,-1036712000000,0,27834000000,4977279000000,0,0,8956319000000,0
10,Q2 2019,402264372000000,2321206000000,3426842000000,52651532000000,1182392000000,1259960000000,-77568000000,0,235995611000000,...,0,0,-1036712000000,0,27834000000,5048304000000,0,0,8078631000000,0

**19-21 Balance Sheet**

In [14]:
# Transformation:
import pandas as pd
import os

# Specify the directory where the Excel files are located
directory = 'financial_statements/19Q3-21Q2'

# Specify the prefix of the files
prefix = 'BalanceSheet'

# Get a list of all Excel files in the directory with the specified prefix
files = [f for f in os.listdir(directory) if f.startswith(prefix) and (f.endswith('.xlsx') or f.endswith('.xls'))]

# create an empty DataFrame to store the data
all_data = pd.DataFrame()

# A list to count errors:
errors = []

for filename in files:
    if filename.endswith(".xlsx") or filename.endswith(".xls"):
        try:
            df = pd.read_excel(os.path.join(directory, filename))
            
            # Reset and drop Indexes
            df = df.iloc[6:]
            df = df.iloc[:-3]   #Drop the "powered by fiintrade"
            df = df.reset_index(drop=True)
            # Tranpose and reset the index again
            df = df.transpose().reset_index(drop=True)
            # Set the first row as headers
            new_headers = df.iloc[0]
            df = df[1:]
            df.columns = new_headers
            df = df.rename(columns={"ITEMS": "Quarter"})       
            
            all_data_3 = pd.concat([all_data, df])
        except Exception as e:
            errors.append(e)
            print("Error: ", e)
            print("The number of errors:", len(errors))

print(all_data_3)

Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 1
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 2
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 3
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 4
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 5
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 6
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 7
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 8
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 9
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 10
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 11
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 12
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 13
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 14
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 15
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 16
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 17
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 18
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 19
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 20
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 21
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 22
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 23
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 24
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 25
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 26
0   Quarter    TOTAL ASSETS  CURRENT ASSETS Cash and cash equivalents  \
1   Q1 2019   7068966596016   3135555919640              191857154997
2   Q2 2019   8360864756722   4569327226735              137312190229
3   Q3 2019   7667255002695   3982305260638              269731303198
4   Q4 2019   7802481843767   4158589615128              105974340017
5   Q1 2020   7958491890339   4443396533529               40518926223
6   Q2 2020   7789339469255   4325605480832               99456698515
7   Q3 2020   8226520987960   4856462316036              435389113373
8   Q4 2020   7543560778980   4272731990700              219161716845
9   Q1 2021  10100906288847   6944738420103              737011697576
10  Q2 2021  13945178386731  10710817033040              821582185051

0           Cash Cash equivalents Short-term investments  \
1   135228467544      56628687453           349572802723
2    96247067315      41065122914           323250509346
3   227536652377      42194650821           327336891322
4    63666975089      42307364928           657229469740
5    27925441162      12593485061           362101857701
6    99456698515                0           406016248471
7   336889113373      98500000000           385678807952
8    45471716845     173690000000           369526402595
9   662943222767      74068474809           387749095014
10  747294804629      74287380422           438574774966

0  Short-term investments Provision for diminution  \
1                 9353176                        0
2                 9353176                        0
3                 9353176                        0
4                 9353176                        0
5                 9353176                        0
6                 9353176                        0
7                 9353176                        0
8                 9353176                        0
9                 9353176                        0
10                9353176                        0

0  Held-to-maturity securities  ... Undistributed earnings  \
1                 349563449547  ...           211366335157
2                 323241156170  ...           342956294771
3                 327327538146  ...           349165694175
4                 657220116564  ...           356321039783
5                 362092504525  ...           397813026083
6                 406006895295  ...           391446396989
7                 385669454776  ...           474068068836
8                 369517049419  ...           576451426073
9                 387739741838  ...           895111379038
10                438565421790  ...          1713032167449

0  Beginning accumulated undistributed earnings  \
1                                  312977212587
2                                  308987325318
3                                  308987325318
4                                  308987325318
5                                  356321039782
6                                  332654182550
7                                  332654182550
8                                  332654182550
9                                  576323754818
10                                 546796801552

0  Current period undistributed earnings Minority interests  \
1                          -101610877430                  0
2                            33968969453                  0
3                            40178368857                  0
4                            47333714465                  0
5                            41491986301                  0
6                            58792214439                  0
7                           141413886286                  0
8                           243797243523                  0
9                           318787624220                  0
10                         1166235365897                  0

0  Budget sources and other funds Bonus and welfare funds (Before 2010)  \
1                               0                                     0
2                               0                                     0
3                               0                                     0
4                               0                                     0
5                               0                                     0
6                               0                                     0
7                               0                                     0
8                               0                                     0
9                               0                                     0
10                              0                                     0

0  Budget sources and other funds Funds used for fixed asset acquisitions  \
1                               0                                       0
2                               0                                       0
3                               0                                       0
4                               0                                       0
5                               0                                       0
6                               0                                       0
7                               0                                       0
8                               0                                       0
9                               0                                       0
10                              0                                       0

0  Minority Interest TOTAL RESOURCES
1                  0   7068966596016
2                  0   8360864756722
3                  0   7667255002695
4                  0   7802481843767
5                  0   7958491890339
6                  0   7789339469255
7                  0   8226520987960
8                  0   7543560778980
9                  0  10100906288847
10                 0  13945178386731

[10 rows x 121 columns]

In [15]:
all_data_3.head(10)

,Quarter,TOTAL ASSETS,CURRENT ASSETS,Cash and cash equivalents,Cash,Cash equivalents,Short-term investments,Short-term investments,Provision for diminution,Held-to-maturity securities,...,Undistributed earnings,Beginning accumulated undistributed earnings,Current period undistributed earnings,Minority interests,Budget sources and other funds,Bonus and welfare funds (Before 2010),Budget sources and other funds,Funds used for fixed asset acquisitions,Minority Interest,TOTAL RESOURCES
1,Q1 2019,7068966596016,3135555919640,191857154997,135228467544,56628687453,349572802723,9353176,0,349563449547,...,211366335157,312977212587,-101610877430,0,0,0,0,0,0,7068966596016
2,Q2 2019,8360864756722,4569327226735,137312190229,96247067315,41065122914,323250509346,9353176,0,323241156170,...,342956294771,308987325318,33968969453,0,0,0,0,0,0,8360864756722
3,Q3 2019,7667255002695,3982305260638,269731303198,227536652377,42194650821,327336891322,9353176,0,327327538146,...,349165694175,308987325318,40178368857,0,0,0,0,0,0,7667255002695
4,Q4 2019,7802481843767,4158589615128,105974340017,63666975089,42307364928,657229469740,9353176,0,657220116564,...,356321039783,308987325318,47333714465,0,0,0,0,0,0,7802481843767
5,Q1 2020,7958491890339,4443396533529,40518926223,27925441162,12593485061,362101857701,9353176,0,362092504525,...,397813026083,356321039782,41491986301,0,0,0,0,0,0,7958491890339
6,Q2 2020,7789339469255,4325605480832,99456698515,99456698515,0,406016248471,9353176,0,406006895295,...,391446396989,332654182550,58792214439,0,0,0,0,0,0,7789339469255
7,Q3 2020,8226520987960,4856462316036,435389113373,336889113373,98500000000,385678807952,9353176,0,385669454776,...,474068068836,332654182550,141413886286,0,0,0,0,0,0,8226520987960
8,Q4 2020,7543560778980,4272731990700,219161716845,45471716845,173690000000,369526402595,9353176,0,369517049419,...,576451426073,332654182550,243797243523,0,0,0,0,0,0,7543560778980
9,Q1 2021,10100906288847,6944738420103,737011697576,662943222767,74068474809,387749095014,9353176,0,387739741838,...,895111379038,576323754818,318787624220,0,0,0,0,0,0,10100906288847
10,Q2 2021,13945178386731,10710817033040,821582185051,747294804629,74287380422,438574774966,9353176,0,438565421790,...,1713032167449,546796801552,1166235365897,0,0,0,0,0,0,13945178386731

**21-23 Balance Sheet**

In [17]:
# Transformation:
import pandas as pd
import os

# Specify the directory where the Excel files are located
directory = 'financial_statements/21Q3-23Q2'

# Specify the prefix of the files
prefix = 'BalanceSheet'

# Get a list of all Excel files in the directory with the specified prefix
files = [f for f in os.listdir(directory) if f.startswith(prefix) and (f.endswith('.xlsx') or f.endswith('.xls'))]

# create an empty DataFrame to store the data
all_data = pd.DataFrame()

# A list to count errors:
errors = []

for filename in files:
    if filename.endswith(".xlsx") or filename.endswith(".xls"):
        try:
            df = pd.read_excel(os.path.join(directory, filename))
            
            # Reset and drop Indexes
            df = df.iloc[6:]
            df = df.iloc[:-3]   #Drop the "powered by fiintrade"
            df = df.reset_index(drop=True)
            # Tranpose and reset the index again
            df = df.transpose().reset_index(drop=True)
            # Set the first row as headers
            new_headers = df.iloc[0]
            df = df[1:]
            df.columns = new_headers
            df = df.rename(columns={"ITEMS": "Quarter"})       
            
            all_data_2 = pd.concat([all_data, df])
        except Exception as e:
            errors.append(e)
            print("Error: ", e)
            print("The number of errors:", len(errors))

print(all_data_3)

Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 1
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 2
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 3
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 4
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 5
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 6
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 7
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 8
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 9
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 10
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 11
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 12
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 13
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 14
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 15
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 16
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 17
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 18
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 19
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 20
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 21
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 22
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 23
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 24
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 25
Error:  Excel file format cannot be determined, you must specify an engine manually.
The number of errors: 26
0   Quarter    TOTAL ASSETS  CURRENT ASSETS Cash and cash equivalents  \
1   Q1 2019   7068966596016   3135555919640              191857154997
2   Q2 2019   8360864756722   4569327226735              137312190229
3   Q3 2019   7667255002695   3982305260638              269731303198
4   Q4 2019   7802481843767   4158589615128              105974340017
5   Q1 2020   7958491890339   4443396533529               40518926223
6   Q2 2020   7789339469255   4325605480832               99456698515
7   Q3 2020   8226520987960   4856462316036              435389113373
8   Q4 2020   7543560778980   4272731990700              219161716845
9   Q1 2021  10100906288847   6944738420103              737011697576
10  Q2 2021  13945178386731  10710817033040              821582185051

0           Cash Cash equivalents Short-term investments  \
1   135228467544      56628687453           349572802723
2    96247067315      41065122914           323250509346
3   227536652377      42194650821           327336891322
4    63666975089      42307364928           657229469740
5    27925441162      12593485061           362101857701
6    99456698515                0           406016248471
7   336889113373      98500000000           385678807952
8    45471716845     173690000000           369526402595
9   662943222767      74068474809           387749095014
10  747294804629      74287380422           438574774966

0  Short-term investments Provision for diminution  \
1                 9353176                        0
2                 9353176                        0
3                 9353176                        0
4                 9353176                        0
5                 9353176                        0
6                 9353176                        0
7                 9353176                        0
8                 9353176                        0
9                 9353176                        0
10                9353176                        0

0  Held-to-maturity securities  ... Undistributed earnings  \
1                 349563449547  ...           211366335157
2                 323241156170  ...           342956294771
3                 327327538146  ...           349165694175
4                 657220116564  ...           356321039783
5                 362092504525  ...           397813026083
6                 406006895295  ...           391446396989
7                 385669454776  ...           474068068836
8                 369517049419  ...           576451426073
9                 387739741838  ...           895111379038
10                438565421790  ...          1713032167449

0  Beginning accumulated undistributed earnings  \
1                                  312977212587
2                                  308987325318
3                                  308987325318
4                                  308987325318
5                                  356321039782
6                                  332654182550
7                                  332654182550
8                                  332654182550
9                                  576323754818
10                                 546796801552

0  Current period undistributed earnings Minority interests  \
1                          -101610877430                  0
2                            33968969453                  0
3                            40178368857                  0
4                            47333714465                  0
5                            41491986301                  0
6                            58792214439                  0
7                           141413886286                  0
8                           243797243523                  0
9                           318787624220                  0
10                         1166235365897                  0

0  Budget sources and other funds Bonus and welfare funds (Before 2010)  \
1                               0                                     0
2                               0                                     0
3                               0                                     0
4                               0                                     0
5                               0                                     0
6                               0                                     0
7                               0                                     0
8                               0                                     0
9                               0                                     0
10                              0                                     0

0  Budget sources and other funds Funds used for fixed asset acquisitions  \
1                               0                                       0
2                               0                                       0
3                               0                                       0
4                               0                                       0
5                               0                                       0
6                               0                                       0
7                               0                                       0
8                               0                                       0
9                               0                                       0
10                              0                                       0

0  Minority Interest TOTAL RESOURCES
1                  0   7068966596016
2                  0   8360864756722
3                  0   7667255002695
4                  0   7802481843767
5                  0   7958491890339
6                  0   7789339469255
7                  0   8226520987960
8                  0   7543560778980
9                  0  10100906288847
10                 0  13945178386731

[10 rows x 121 columns]

In [18]:
all_data_3.head()

,Quarter,TOTAL ASSETS,CURRENT ASSETS,Cash and cash equivalents,Cash,Cash equivalents,Short-term investments,Short-term investments,Provision for diminution,Held-to-maturity securities,...,Undistributed earnings,Beginning accumulated undistributed earnings,Current period undistributed earnings,Minority interests,Budget sources and other funds,Bonus and welfare funds (Before 2010),Budget sources and other funds,Funds used for fixed asset acquisitions,Minority Interest,TOTAL RESOURCES
1,Q1 2019,7068966596016,3135555919640,191857154997,135228467544,56628687453,349572802723,9353176,0,349563449547,...,211366335157,312977212587,-101610877430,0,0,0,0,0,0,7068966596016
2,Q2 2019,8360864756722,4569327226735,137312190229,96247067315,41065122914,323250509346,9353176,0,323241156170,...,342956294771,308987325318,33968969453,0,0,0,0,0,0,8360864756722
3,Q3 2019,7667255002695,3982305260638,269731303198,227536652377,42194650821,327336891322,9353176,0,327327538146,...,349165694175,308987325318,40178368857,0,0,0,0,0,0,7667255002695
4,Q4 2019,7802481843767,4158589615128,105974340017,63666975089,42307364928,657229469740,9353176,0,657220116564,...,356321039783,308987325318,47333714465,0,0,0,0,0,0,7802481843767
5,Q1 2020,7958491890339,4443396533529,40518926223,27925441162,12593485061,362101857701,9353176,0,362092504525,...,397813026083,356321039782,41491986301,0,0,0,0,0,0,7958491890339