In [3]:
import pandas as pd
import io
import requests

In [5]:
organ_code = "SSI"
statement_type = "BalanceSheet"
page = 0

url = f"https://fiin-fundamental.ssi.com.vn/FinancialStatement/Download{statement_type}?language=en&OrganCode={organ_code}&Skip={page}&Frequency=Quarterly"

headers = {
'authority': 'fiin-fundamental.ssi.com.vn',
'accept': '*/*',
'accept-language': 'en-US,en;q=0.9,vi;q=0.8',
'access-control-request-headers': 'content-type,x-fiin-key,x-fiin-seed,x-fiin-user-id',
'access-control-request-method': 'GET',
'origin': 'https://iboard.ssi.com.vn',
'referer': 'https://iboard.ssi.com.vn/',
'sec-fetch-dest': 'empty',
'sec-fetch-mode': 'cors',
'sec-fetch-site': 'same-site',
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.76',
'Cookie': '__cf_bm=DTCnVdL.ZYR5Qb68BHPnX_vbWURBrOKVBPNboZGMkwQ-1694345120-0-AXeE6idhxc1Z0SHIK7m50wA6Nc13DQfj+gW62Oi5omSL7qpP1NWjh5cmjnVCpO4FDK/DWbsOeSIt1/TQ3BRWCEI='
}

response = requests.request("GET", url, headers=headers)

with io.BytesIO(response.content) as buffer:
    df = pd.read_excel(buffer, engine="openpyxl")

    df = df.dropna()
    # Reset and drop Indexes
    df = df.reset_index(drop=True)
    # Tranpose and reset the index again
    df = df.transpose().reset_index(drop=True)
    # Set the first row as headers
    new_headers = df.iloc[0]
    df = df[1:]
    df.columns = new_headers
    df = df.rename(columns={"ITEMS": "Quarter"})
    
    df = df.transpose().reset_index(drop=True)
    
df.head()

,1,2,3,4,5,6,7,8,9,10
0,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023
1,37623298592745,41909854337867,47603599899089,50793056562082,50081417987976,43271692294652,45436360097588,52226382886481,52708904888210,50136082889820
2,32861922385458,37677550444176,41316811799539,46539595154345,45511157728588,38842013253064,42024269584069,48731915104609,49184621082401,46622415575454
3,32807599286482,37614629914315,41237217139178,46464265826322,45391166194798,38695637322592,41873828829183,48621880319731,49047177677037,46483844125605
4,279287925660,243325556836,289834514959,1114235031501,804918779530,238480153762,615638500529,1417807262731,142513532064,155382877316

In [1]:
from utils.get_fin_statement import GetFinancialStatement
import datetime

print(datetime.datetime.now())
fin_statement = GetFinancialStatement("SSI", "BalanceSheet")

fin_statement.df.head()
len(fin_statement.df)

# fin_statement.df.to_excel("test.xlsx")

2023-09-12 21:46:20.743136

161