In [1]:
import pandas as pd
import json

In [58]:
with open("data/vietstock/cpi.json", "r") as f:
    cpi = json.load(f)["data"]

In [59]:
df = pd.DataFrame.from_records(cpi)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ReportDataID  1215 non-null   int64
 1   TermID        1215 non-null   int64
 2   TermYear      1215 non-null   int64
 3   TernDay       1215 non-null   object
 4   NormID        1215 non-null   int64
 5   GroupName     1215 non-null   object
 6   NormGroupID   1215 non-null   int64
 7   NormName      1215 non-null   object
 8   UnitCode      1215 non-null   object
 9   CssStyle      1215 non-null   object
 10  NormTypeID    1215 non-null   int64
 11  FromSource    1215 non-null   object
 12  NormValue     1215 non-null   float64
 13  ReportTime    1215 non-null   object
dtypes: float64(1), int64(6), object(7)
memory usage: 133.0+ KB

In [ ]:
# test Vietstock crawler
from crawler.get_vietstock import VietstockMacroData

vscrawler = VietstockMacroData()
vscrawler.get_cpi_data(from_year=2021, to_year=2022)

**INTEREST RATES**

In [44]:
with open("data/vietstock/interest_rates_17_18.json", "r") as f:
    data = json.load(f)["data"]

In [45]:
rates_df = pd.DataFrame.from_records(data)

In [46]:
rates_df.head(20)

,ReportDataID,TermID,TermYear,TernDay,NormID,GroupName,NormGroupID,NormName,UnitCode,CssStyle,NormTypeID,FromSource,NormValue,ReportTime
0,57040,1,2019,/Date(1545930000000)/,501,,0,9 months,%,Padding1,66,None,5.20,28/12/2018
1,36393,1,2019,/Date(1545930000000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,6.20,28/12/2018
2,36392,1,2019,/Date(1545930000000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.60,28/12/2018
3,36391,1,2019,/Date(1545930000000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.85,28/12/2018
4,36390,1,2019,/Date(1545930000000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.77,28/12/2018
5,36389,1,2019,/Date(1545930000000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.16,28/12/2018
6,36388,1,2019,/Date(1545930000000)/,293,,0,Overnight,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,3.91,28/12/2018
7,57039,1,2018,/Date(1545843600000)/,501,,0,9 months,%,Padding1,66,None,0.00,27/12/2018
8,36376,1,2018,/Date(1545843600000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.98,27/12/2018
9,36375,1,2018,/Date(1545843600000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.54,27/12/2018
10,36374,1,2018,/Date(1545843600000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.87,27/12/2018
11,36373,1,2018,/Date(1545843600000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.54,27/12/2018
12,36372,1,2018,/Date(1545843600000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.52,27/12/2018
13,36371,1,2018,/Date(1545843600000)/,293,,0,Overnight,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,3.87,27/12/2018
14,57038,1,2018,/Date(1545757200000)/,501,,0,9 months,%,Padding1,66,None,0.00,26/12/2018
15,36369,1,2018,/Date(1545757200000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.80,26/12/2018
16,36368,1,2018,/Date(1545757200000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.64,26/12/2018
17,36367,1,2018,/Date(1545757200000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.97,26/12/2018
18,36366,1,2018,/Date(1545757200000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.83,26/12/2018
19,36365,1,2018,/Date(1545757200000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.68,26/12/2018

In [47]:
rates_df = rates_df.iloc[::-1]
rates_df.head(20)

,ReportDataID,TermID,TermYear,TernDay,NormID,GroupName,NormGroupID,NormName,UnitCode,CssStyle,NormTypeID,FromSource,NormValue,ReportTime
3457,27829,1,2017,/Date(1483376400000)/,293,,0,Overnight,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.13,03/01/2017
3456,27830,1,2017,/Date(1483376400000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.44,03/01/2017
3455,27831,1,2017,/Date(1483376400000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.70,03/01/2017
3454,27832,1,2017,/Date(1483376400000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.18,03/01/2017
3453,27833,1,2017,/Date(1483376400000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.17,03/01/2017
3452,27834,1,2017,/Date(1483376400000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.21,03/01/2017
3451,57434,1,2017,/Date(1483376400000)/,501,,0,9 months,%,Padding1,66,None,0.00,03/01/2017
3450,27836,1,2017,/Date(1483462800000)/,293,,0,Overnight,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,3.82,04/01/2017
3449,27837,1,2017,/Date(1483462800000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.31,04/01/2017
3448,27838,1,2017,/Date(1483462800000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.67,04/01/2017
3447,27839,1,2017,/Date(1483462800000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.73,04/01/2017
3446,27840,1,2017,/Date(1483462800000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.17,04/01/2017
3445,27841,1,2017,/Date(1483462800000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.21,04/01/2017
3444,57435,1,2017,/Date(1483462800000)/,501,,0,9 months,%,Padding1,66,None,0.00,04/01/2017
3443,27843,1,2017,/Date(1483549200000)/,293,,0,Overnight,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,3.70,05/01/2017
3442,27844,1,2017,/Date(1483549200000)/,294,,0,1 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.13,05/01/2017
3441,27845,1,2017,/Date(1483549200000)/,295,,0,2 Weeks,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.50,05/01/2017
3440,27846,1,2017,/Date(1483549200000)/,296,,0,1 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,4.88,05/01/2017
3439,27847,1,2017,/Date(1483549200000)/,297,,0,3 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.30,05/01/2017
3438,27848,1,2017,/Date(1483549200000)/,298,,0,6 Months,%,Padding1,66,Ngân hàng Nhà nước Việt Nam,5.00,05/01/2017

In [48]:
rates_df = rates_df.drop(columns=["CssStyle", "GroupName"])
rates_df["TernDay"] = rates_df["TernDay"].str.extract(r'/Date\((.*?)\)/', expand=False)
rates_df["TernDay"] = pd.to_datetime(rates_df["TernDay"], unit="ms")

/tmp/ipykernel_18864/313087825.py:3: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  rates_df["TernDay"] = pd.to_datetime(rates_df["TernDay"], unit="ms")

In [49]:
rates_df.head(10)

,ReportDataID,TermID,TermYear,TernDay,NormID,NormGroupID,NormName,UnitCode,NormTypeID,FromSource,NormValue,ReportTime
3457,27829,1,2017,2017-01-02 17:00:27.008,293,0,Overnight,%,66,Ngân hàng Nhà nước Việt Nam,4.13,03/01/2017
3456,27830,1,2017,2017-01-02 17:00:27.008,294,0,1 Weeks,%,66,Ngân hàng Nhà nước Việt Nam,4.44,03/01/2017
3455,27831,1,2017,2017-01-02 17:00:27.008,295,0,2 Weeks,%,66,Ngân hàng Nhà nước Việt Nam,4.70,03/01/2017
3454,27832,1,2017,2017-01-02 17:00:27.008,296,0,1 Months,%,66,Ngân hàng Nhà nước Việt Nam,5.18,03/01/2017
3453,27833,1,2017,2017-01-02 17:00:27.008,297,0,3 Months,%,66,Ngân hàng Nhà nước Việt Nam,5.17,03/01/2017
3452,27834,1,2017,2017-01-02 17:00:27.008,298,0,6 Months,%,66,Ngân hàng Nhà nước Việt Nam,5.21,03/01/2017
3451,57434,1,2017,2017-01-02 17:00:27.008,501,0,9 months,%,66,None,0.00,03/01/2017
3450,27836,1,2017,2017-01-03 17:00:03.456,293,0,Overnight,%,66,Ngân hàng Nhà nước Việt Nam,3.82,04/01/2017
3449,27837,1,2017,2017-01-03 17:00:03.456,294,0,1 Weeks,%,66,Ngân hàng Nhà nước Việt Nam,4.31,04/01/2017
3448,27838,1,2017,2017-01-03 17:00:03.456,295,0,2 Weeks,%,66,Ngân hàng Nhà nước Việt Nam,4.67,04/01/2017

In [54]:
# Ingest to Database
from sqlalchemy import create_engine
from config.default import DB_DATABASE, DB_HOST, DB_USERNAME, DB_PASSWORD

engine = create_engine(f"postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}/{DB_DATABASE}")
rates_df.to_sql("interest_rates", engine, if_exists='replace', index=False)

458

In [1]:
# Loop through the data files
import os
import pandas as pd
import json
from sqlalchemy import create_engine
from config.default import DB_DATABASE, DB_HOST, DB_USERNAME, DB_PASSWORD
from utils.helper import camel_to_snake


directory = "data/vietstock/"
prefix = "interest_rates"
files = [f for f in os.listdir(directory) if f.startswith(prefix)]
engine = create_engine(
    f"postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}/{DB_DATABASE}"
)

for file in files:
    with open(f"{directory}/{file}", "r") as f:
        data = json.load(f)["data"]
    rates_df = pd.DataFrame.from_records(data)
    rates_df = rates_df.iloc[::-1]
    rates_df = rates_df.drop(columns=["CssStyle", "GroupName"])
    rates_df["TernDay"] = rates_df["TernDay"].str.extract(
        r"/Date\((.*?)\)/", expand=False
    )
    rates_df["TernDay"] = pd.to_datetime(rates_df["TernDay"], unit="ms")
    rates_df.columns["TernDay"] = rates_df.columns["TermDay"]
    rates_df.columns = rates_df.columns.map(camel_to_snake)

    # Ingestion to database
    rates_df.to_sql(name="interest_rates", con=engine, if_exists="append", index=False)

/tmp/ipykernel_65138/4232257755.py:26: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  rates_df["TernDay"] = pd.to_datetime(rates_df["TernDay"], unit="ms")

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices